<header>
    <div class="container-fluid ">
        <section id="cpl-header" class="cpl-header-md">
            <div class="container">
                <div class="row">
                    <div class="header-left" id="logo-fullSize">
                        <a href="https://www.chipublib.org/">
                            <img id="cpl-logo-lg" src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/logo.png?1506021413180" alt="Chicago Public Library" />
                        </a>
                        <h2 id="cpl-logo-text">
                            <a href="https://cdm16818.contentdm.oclc.org/customizations/global/pages/">
                                Digital Collections
                            </a>
                        </h2>
                        <p id="about" onmouseover="toggleMenu()">About WTPM</p>
                        <div id="menu">
                            <ul>
                                <li>Staff</li>
                                <li>About</li>
                                <li>Press</li>
                                <li>Funders</li>
                                <li>Archived Issues</li>
                                <li>Youth Participants</li>
                                <li>Photos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right">
                        <h1><a href="/" >We the People Media</a></h1>
                        <h3><a href="/" >Residents' Journal</a></h3>
                        <img id="wtp-logo" src="/assets/logos/skyline.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>