<header>
    <div class="container-fluid ">
        <section id="cpl-header" class="cpl-header-md">
            <div class="container">
                <div class="row">
                    <div class="header-left" id="logo-fullSize">
                        <a href="https://www.chipublib.org/">
                            <img id="cpl-logo-lg" src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/logo.png?1506021413180" alt="Chicago Public Library" />
                        </a>
                        <h2 id="cpl-logo-text">
                            <a href="https://cdm16818.contentdm.oclc.org/customizations/global/pages/">
                                Digital Collections
                            </a>
                        </h2>
                        <div id="about" onclick="toggleMenu()">About WTPM</div>
                        <div id="menu" style="display: none;">
                            <ul>
                                <li><a href="/staff">Staff</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/press">Press</a></li>
                                <li><a href="/funders">Funders</a></li>
                                <li><a href="/issues">Archived Issues</a></li>
                                <li><a href="/participants">Participants</a></li>
                                <li><a href="/photos">Photos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right">
                        <h1><a href="/" >We the People Media</a></h1>
                        <h3><a href="/" >Residents' Journal</a></h3>
                        <img id="wtp-logo" src="/assets/logos/skyline.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>