<header>
    <div class="container-fluid ">
        <section id="cpl-header" class="cpl-header-md">
            <div class="container">
                <div class="row">
                    <div class="header-left" id="logo-fullSize">
                        <div id="response-lg">

                            <a href="https://www.chipublib.org/">
                                <img id="cpl-logo-lg" src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/logo.png?1506021413180" alt="Chicago Public Library" />
                            </a>
                            <h2 id="cpl-logo-text">
                                <a href="https://cdm16818.contentdm.oclc.org/customizations/global/pages/">
                                    Digital Collections
                                </a>
                            </h2>
                        </div>
                        <div id="response-sm">
                            <img src="{{ site.baseurl }}/assets/logos/cpl-logo-sm.png" alt="Chicago Public Library" />
                        </div>
                        <div id="about" onclick="toggleMenu()">About WTPM</div>
                        <div id="menu" style="display: none;">
                            <ul>
                                <li><a href="{{ site.baseurl }}/staff.html">Staff</a></li>
                                <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                                <li><a href="{{ site.baseurl }}/press.html">Press</a></li>
                                <li><a href="{{ site.baseurl }}/funders.html">Funders</a></li>
                                <li><a href="{{ site.baseurl }}/issues.html">Archived Issues</a></li>
                                <li><a href="{{ site.baseurl }}/participants.html">Participants</a></li>
                                <li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right">
                        <h1><a href="{{ site.baseurl }}/" >We the People Media</a></h1>
                        <h3><a href="{{ site.baseurl }}/" >Residents' Journal</a></h3>
                        <img id="wtp-logo" src="{{ site.baseurl }}/assets/logos/skyline.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>