<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    {% include libraries.html %}
</head>
<body>   
    {% include header.html %}
    <main class="misc container article-container">
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ content }}
            </div>
            <div class="col-12 col-lg-4">{% include searchbox.html %}</div>
        </div>
    </main>
</body>
</html>