<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    {% include libraries.html %}
</head>
<body>   
    {% include header.html %}
    <main id="maincontentcontainer" class="container article-container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="article-title">{{ page.title }}</h3>
                {% assign displaySize = page.author.display_name | size %}
                <div class="author">by {% if displaySize > 0 %}{{page.author.display_name}}{% else %}{{page.author.first_name }}{{page.author.last_name }}{% endif %}</div>
                <div class="date">{{page.date | date_to_string }}</div>

                <div class="article-body">
                    {{ content }}
                </div>
                <p>
                    <small>
                        {% for tag in page.tags %}
                            <a class="tags {% if forloop.last == true %}tags-last{% endif %}" href="{{site.baseurl}}/tags.html#{{tag}}">{{ tag }}</a>
                        {% endfor %}
                    </small>
                </p>
            </div>
            <div class="col-12 col-lg-4">
                {% include searchbox.html %}
            </div>
        </div>
    </main>
</body>
</html>